.padding-section {
padding: 120px 0;
}
.space-bottom {
margin-bottom: 40px;
}
h2 {
font-size: 24px;
letter-spacing: 6px;
font-weight: 400;
margin-bottom: 15px;
}
.margin-bottom {
margin-bottom: 65px;
}
.config-menu {
color: #282828;
font-size: 12px;
letter-spacing: 3px;
cursor: pointer;
padding: 0 5px;
}
.m-b-1rem {
margin-bottom: 1rem;
}